.boldBlue {
    font-size: 48px;
    font-family: 'Arial Black';
    color: var(--custom-Blue);
}

.boldWhite {
    font-size: 50px;
    font-family: 'Arial Black';
    color: rgb(255, 255, 255);
}


.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.containerUser {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(207, 207, 207, 0.075);
    color: rgb(167, 0, 0);
    flex-direction: row;
}

.userBackgroundImage {
    width: 100%;
    object-fit: cover;
    height: 80vh;
    filter: brightness(30%)
}

.txtOverImage {
    position: absolute;
    top: 20%;
    left: 10%;
}