.navbar {
    background-color: var(--custom-Blue);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* Align left and right blocks */
    align-items: center;
  }
  
  
  
  /* Style the logo/image */
  .logo {
    float: left;
    height: 60%;
    width: 50%;
    height: auto;
    /* Maintain aspect ratio */
    background-color: transparent;
  }
  
  /* Style the left block containing the logo */
  .left-block {
    display: flex;
    align-items: center;
    /* Vertically center items in the left block */
    margin-left: 10%;
    /* Add margin from the left border of the navbar */
  }
  
  /* Style the right block */
  .right-block {
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    text-decoration: solid;
    font-family: 'Arial Black';
    display: flex;
    margin-right: 10%;
    /* Add margin from the left border of the navbar */
  }
  
  /* Dropdown Button */
  .dropbtn {
    font-family: 'Arial Black';
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-wrap: nowrap;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 25%;
    z-index: 1;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    text-align: left;
    border-radius: 5%;
    display: none;
    position: fixed;
    background-color: var(--custom-Blue);
    min-width: 160px;
    box-shadow: 10px 10px 18px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    background-color: transparent;
    padding: 6px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    text-decoration: underline;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    text-decoration: underline;
    color: rgb(255, 94, 0);
  }