.footer{
    background-color: rgb(236, 239, 243);
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.column{
    color: #1D1E20;
    font-family: 'calibri', 'sans-serif';
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-color: blue;    
}